<View>
  <Repeater on="$images">
    <Image name="img_{{idx}}" value="$images[{{idx}}]"></Image>
    <RectangleLabels name="tag" toName="img_{{idx}}" fillOpacity="0.5" strokeWidth="5">
      <Label value="Planet"></Label>
      <Label value="Moonwalker" background="blue"></Label>
    </RectangleLabels>
  </Repeater>
</View>
